<section class="">
    <h1 class="ms-80 py-2 text-2xl">Register now:</h1>
    <form [formGroup]="registerform" (ngSubmit)="registersubmit()" class="w-50 mx-80 " >
      
            <div class="mb-3 ">
                <label for="Input1" class="form-label">name:</label>
                <input   [ngClass] = "{'is-valid':!registerform.get('name')?.errors&&(registerform.get('name')?.touched||registerform.get('name')?.dirty),
            'is-invalid':registerform.get('name')?.errors&&(registerform.get('name')?.touched||registerform.get('name')?.dirty)}"   [ngClass] = "{'is-valid':!registerform.get('name')?.errors&&(registerform.get('name')?.touched||registerform.get('name')?.dirty),
            'is-invalid':registerform.get('name')?.errors&&(registerform.get('name')?.touched||registerform.get('name')?.dirty)}"
                formControlName="name"  type="text" class="form-control shadow shadow-slate-400" id="Input1" placeholder=""
              >
              @if (registerform.get("name")?.errors&&((registerform.get("name")?.touched) ||(registerform.get("name")?.dirty))){
                  <div class="alert alert-danger w-100">
                    @if (registerform.get("name")?.getError('required')){
                        <p>name required</p>
                    }
             
                @else if (registerform.get("name")?.getError('minlength')){
                    <p>name should be more than or equal 3 char</p>
                }
          
              @else if (registerform.get("name")?.getError('maxlength')){
                    <p>name should be less than or equal 20 char</p>
                }
           
            </div>}
              </div>
            <div class="mb-3">
                <label for="Input2" class="form-label">Email address</label>
                <input   [ngClass] = "{'is-valid':!registerform.get('email')?.errors&&(registerform.get('email')?.touched||registerform.get('email')?.dirty),
            'is-invalid':registerform.get('email')?.errors&&(registerform.get('email')?.touched||registerform.get('email')?.dirty)}"formControlName="email" type="email" class="form-control shadow shadow-slate-400" id="Input2" placeholder="">
                @if (registerform.get("email")?.errors&&((registerform.get("email")?.touched) ||(registerform.get("email")?.dirty))) 
                {
                    <div class="alert alert-danger w-100">
                      @if (registerform.get("email")?.getError('required')){
                          <p>email required</p>
                      }
               
                  @else if (registerform.get("email")?.getError('email')){
                      <p>email should be email</p>
                  }
            
                
            </div>}
            </div>
            <div class="mb-3">
                <label for="Input5" class="form-label">phone</label>
                
            <input   [ngClass] = "{
            'is-valid':!registerform.get('phone')?.errors&&(registerform.get('phone')?.touched||registerform.get('phone')?.dirty),
            'is-invalid':registerform.get('phone')?.errors&&(registerform.get('phone')?.touched||registerform.get('phone')?.dirty)}"formControlName="phone" type="number" class="form-control shadow shadow-slate-400" id="Input5" placeholder="">
            @if (registerform.get("phone")?.errors&&((registerform.get("phone")?.touched) ||(registerform.get("phone")?.dirty))) 
            {
                <div class="alert alert-danger w-100">
                  @if (registerform.get("phone")?.getError('required')){
                      <p>phone required</p>
                  }
                  @else if (registerform.get("phone")?.getError('minlength')){
                    <p>phone should be more than or equal 6 char </p>
                }
                  @else if (registerform.get("phone")?.getError('pattern')){
                    <p>phone should be egyption number  </p>
                }
             
        
            
        </div>}
        </div>
            <div class="mb-3">
                <label for="Input3" class="form-label">password</label>
                <input   [ngClass] = "{
            'is-valid':!registerform.get('password')?.errors&&(registerform.get('password')?.touched||registerform.get('password')?.dirty),
            'is-invalid':registerform.get('password')?.errors&&(registerform.get('password')?.touched||registerform.get('password')?.dirty)}"formControlName="password" type="password" class="form-control shadow shadow-slate-400" id="Input3" placeholder="">

                @if (registerform.get("password")?.errors&&((registerform.get("password")?.touched) ||(registerform.get("password")?.dirty))) 
                {
                    <div class="alert alert-danger w-100">
                      @if (registerform.get("password")?.getError('required')){
                          <p>password required</p>
                      }
                      @else if (registerform.get("password")?.getError('minlength')){
                        <p>password should be more than or equal 6 char </p>
                    }
                 
            
                
            </div>}
              </div>

            <div class="mb-3">
                <label for="Input4" class="form-label">repassword</label>
                <input   [ngClass] = "{'is-valid':!registerform.get('repassword')?.errors&&(registerform.get('repassword')?.touched||registerform.get('repassword')?.dirty),
            'is-invalid':registerform.get('repassword')?.errors&&(registerform.get('repassword')?.touched||registerform.get('repassword')?.dirty)}"formControlName="rePassword" type="password" class="form-control shadow shadow-slate-400" id="Input4" placeholder="">
                @if (registerform.getError('mismatch')&&((registerform.get("rePassword")?.touched) ||(registerform.get("rePassword")?.dirty))) {
                    <p class="alert alert-danger w-100">mismatch password</p>
                }
              </div>
        
       <button  class="btn-main block ms-auto">register</button>
       <!-- <button [disabled]="registerform.invalid" class="btn-main block ms-auto">register</button> -->
@if (msgsuccess) {        <p class="bg-amber-200">just wait for 2second </p>}
    </form>
</section>
