<section>
    <h1 class="mx-80 pb-3 text-xl">forgot password:</h1>
   @if(step==1){
    <form [formGroup]="verifyemail" (ngSubmit)="verifyemailsubmit()" class="w-50 mx-80 " >
      <div class="mb-3">
          <label for="verify" class="form-label">Email address</label>
          <input  formControlName="email" type="email" class="form-control shadow shadow-slate-400" id="verify" placeholder="">
          @if (verifyemail.get("email")?.errors&&((verifyemail.get("email")?.touched) ||
          (verifyemail.get("email")?.dirty))) 
          {
              <div class="alert alert-danger w-100">
                @if (verifyemail.get("email")?.getError('required')){
                    <p>email required</p>
                }
         
            @else if (verifyemail.get("email")?.getError('email')){
                <p>email should be email</p>
            }
      
          
      </div>}
      </div>
   
     
        
        <div class="flex justify-end items-center  ">
          <button class="btn-main " [disabled]="verifyemail.invalid">verify email</button>
      </div>
        <!-- @if(msgsuccess){
          <p class="bg-amber-300">just wait for second</p>
        } -->
  </form>
   }
  @else if (step==2) { <form [formGroup]="verifycode" (ngSubmit)="verifycodesubmit()" class="w-50 mx-80 " >
    <div class="mb-3">
        <label for="verifycode" class="form-label">verifycode</label>
        <input  formControlName="resetCode" type="text" class="form-control shadow shadow-slate-400" id="verifycode" placeholder="">
        @if (verifycode.get("resetCode")?.errors&&((verifycode.get("resetCode")?.touched) ||
        (verifycode.get("resetCode")?.dirty))) 
        {
            <div class="alert alert-danger w-100">
              @if (verifycode.get("resetCode")?.getError('required')){
                  <p>code is required</p>
              }
       
          @else if (verifycode.get("resetCode")?.getError('resetCode')){
              <p>resetCode should be 6 number</p>
          }
    
        
    </div>}
    </div>
      <div class="flex justify-end items-center  ">
      
        <button class="btn-main " [disabled]="verifycode.invalid">verify code</button>
    </div>
      <!-- @if(msgsuccess){
        <p class="bg-amber-300">just wait for second</p>
      } -->
</form> }
 @else if (step==3) {   <form [formGroup]="resetpassword" (ngSubmit)="resetpasswordsubmit()" class="w-50 mx-80 " >
  <div class="mb-3">
    <p class="text-lg">reset password:</p>
      <label for="resetpassword" class="form-label">Email address</label>
      <input readonly  formControlName="email" type="email" class="form-control shadow shadow-slate-400" id="resetpassword" placeholder="">
      @if (resetpassword.get("email")?.errors&&((resetpassword.get("email")?.touched) ||
      (resetpassword.get("email")?.dirty))) 
      {
          <div class="alert alert-danger w-100">
            @if (resetpassword.get("email")?.getError('required')){
                <p>email required</p>
            }
     
        @else if (resetpassword.get("email")?.getError('email')){
            <p>email should be email</p>
        }
  
      
  </div>}
  </div>
  <div class="mb-3">

      <label for="newPassword" class="form-label">new password</label>
      <input  formControlName="newPassword" type="password" class="form-control shadow shadow-slate-400" id="newPassword" placeholder="">
      @if (resetpassword.get("newPassword")?.errors&&((resetpassword.get("newPassword")?.touched) ||
      (resetpassword.get("newPassword")?.dirty))) 
      {
          <div class="alert alert-danger w-100">
            @if (resetpassword.get("newPassword")?.getError('required')){
                <p>password required</p>
            }
     
        @else if (resetpassword.get("newPassword")?.getError('minLength')){
            <p>password should be more than or equal 6 char </p>
        }
  
      
  </div>}
  </div>

 
    
    <div class="flex justify-end items-center  ">
  
      <button class="btn-main " [disabled]="resetpassword.invalid">resetpassword</button>
  </div>
    <!-- @if(msgsuccess){
      <p class="bg-amber-300">just wait for second</p>
    } -->
</form>}
  
</section>
