<section class=" rounded-4 shadow px-md-5 py-10 w-100 px-6">
    <div class="bg-green-100 p-2  ">
        <h1 class="py-1 text-xl border-bottom">My wish list</h1>
 
        @for (item of wishdetails; track $index) {
            <div class="border-bottom ">
                <div class=" col-1">
                    <div class=""><img [src]=item.imageCover alt="" class="w-100"></div>
                </div>
                <div class="col-11 flex justify-between">
                    <div class="flex flex-col">
                        <h2 class="py-2">{{item.title}}</h2>
                        <h2>{{item.price}}</h2>
                        <i (click)="removeitem(item.id)" class="fa-solid fa-trash fa-lg py-3 cursor-pointer" style="color: #de1b2f;"></i>
                    </div>
                    <div class="mb-20">
                        <button class="bg-green-300 btn1    p-md-3 rounded  " (click)="addcart(item.id)">add to cart</button>
                    </div>
                </div>
            </div>
       
    
    } </div>
    </section>
