
<div class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto flex flex-col p-5">
   
@for (item of orderdetailsonline; track $index) {
   
 <div class="mt-10 flex flex-col  jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0  border border-green-600 shadow shadow-green-300 p-2"> 
    <div class="flex justify-start items-start space-y-2 flex-col  py-3 ps-5">
        <h1 class="text-3xl dark:text-white lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">Order :#{{item.id}}</h1>
        <p class="text-base dark:text-gray-300 font-medium leading-6 text-gray-600">created at:{{item.createdAt}}</p>
    </div> 
    <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8 ml-3 pe-10">
            <div class="flex flex-col justify-start items-start dark:bg-gray-800 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
                <p class="text-lg md:text-xl dark:text-white font-semibold leading-6 xl:leading-5 text-gray-800">Customer’s cart</p>
                
                <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">

                  @for (cartitem of item.cartItems; track cartitem._id)
                   {  <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0 py-5">

                    <div class="w-full flex  justify-start items-start space-y-8  flex-column flex-wrap">
                        <img [src]="cartitem.product.imageCover" class="w-36"
                        >
                  <div class="">      
                    <h3 class="text-xl dark:text-white xl:text-2xl font-semibold leading-6  text-green-400 ">{{cartitem.product.title.split('',15).join('')}}</h3>
                    <h3 class="text-xl dark:text-white xl:text-2xl font-semibold leading-6 text-gray-800 p-2">  price: {{cartitem.price|currency:'EGP'}}</h3>
                    <div class="flex justify-start items-start flex-col space-y-2">
                        
                        <p class="text-lg dark:text-white leading-none text-green-400 p-2"><span class="dark:text-gray-400 text-gray-300">Brand:{{cartitem.product.brand.name}} </span> </p>
                        <p class="text-lg dark:text-white leading-none text-green-400 p-2"><span class="dark:text-gray-400 text-gray-300">Cat:{{cartitem.product.category.name}} </span> </p>
                    </div></div>
                    </div>
                 
                    
                </div>}
                </div>

            </div>
           <div class="flex justify-center  md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
                <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Summary</h3>
                    <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                        <div class="flex justify-between w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">shipping price</p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{item.shippingPrice}}</p>
                        </div>
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">taxprice <span class="bg-gray-200 p-1 text-xs font-medium dark:bg-white dark:text-gray-800 leading-3 text-gray-800">STUDENT</span></p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{item.taxPrice}}</p>
                        </div>
                   
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <p class="text-base dark:text-white font-semibold leading-4 text-gray-800">Total</p>
                        <p class="text-base dark:text-gray-300 font-semibold leading-4 text-gray-600">{{item.totalOrderPrice}}</p>
                    </div>
                    
                </div>
                <div class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Shipping</h3>
                    <div class="flex justify-between items-start w-full flex-col">
                        <div class="flex justify-center items-center space-x-4">
                            <div class="w-8 h-8">
                                <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" />
                            </div>
                            <div class="flex flex-col justify-start items-center">
                                <p class="text-lg leading-6 dark:text-white font-semibold text-gray-800">DPD Delivery<br /><span class="font-normal">Delivery with 24 Hours</span></p>
                            </div>
                            <p class="text-lg font-semibold leading-6 dark:text-white text-gray-800">80.00EGP</p>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div> 
        <!-- ////////customer data -->
        <div class="bg-gray-50 dark:bg-gray-800 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col mt-4">
            <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800 ">Customer:{{item.user.name}} </h3>
            <div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
                <div class="flex flex-col justify-start items-start flex-shrink-0 ">
                    <div class="flex justify-center text-gray-800 dark:text-white md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/order-summary-3-svg1.svg" alt="email">
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/order-summary-3-svg1dark.svg" alt="email">
                      
                        <p class="cursor-pointer text-sm leading-5 ">{{item.user.email}}</p>
                        <!-- <p class="cursor-pointer text-sm leading-5 "(click)="openmail(item.user.email)">{{item.user.email}}</p> -->
                      
                        <p class="cursor-pointer text-sm leading-5 ">{{item.user.phone}}</p>
                    </div>
                </div>
                <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
                  
                    <div class="flex w-full justify-center items-center md:justify-start md:items-start ">
                        <button class="mt-6 md:mt-0 dark:border-white dark:hover:bg-gray-900 dark:bg-transparent dark:text-white py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 font-medium w-96 2xl:w-full text-base leading-4 text-gray-800" [routerLink]="['/order',item._id]"(click)="edit()">Edit Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
}
</div>

