<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <div class="w-50 ms-5 mt-2 "> 
        <a class="navbar-brand" routerLink="home">
            <img src="../../../assets/images/freshcart-logo.svg" class="w-25">
        </a></div>
     
      <div class="collapse navbar-collapse" id="navbarNav"class="bg-gradient flex">
      <ul class="mt-2">
        <i class="fa-brands fa-instagram mx-1"></i>
        <i class="fa-brands fa-facebook mx-2"></i>
        <i class="fa-brands fa-tiktok mx-2"></i>
        <i class="fa-brands fa-twitter mx-2"></i>
        <i class="fa-brands fa-linkedin mx-2"></i>
        <i class="fa-brands fa-youtube"></i>
      </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login" routerLinkActive="bg-main" >login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="bg-main" >register</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
